@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');


img {
  width:60%;
  display: block;
    margin: 0 auto;
    max-width: 45%;
}

@media screen and (min-width:450px){
  img{
    width:80%;
  }
}


body{
  background-color: white;
}
/* KIRAN PATEL */
header{

  font-family: 'Open Sans';
  font-weight: 800;
  color: black;
  letter-spacing: -1.5px;
  font-size: 75px;
  text-align: left;
  margin-top: 2.3em;
}

h1{
  color: black;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 0px;
  margin-top: 2em;
  margin-left: .7%;
  margin-bottom: 4em;
}

h2{
  color: black;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin: 1.5em;
  margin-bottom: .5em;
  margin-top: 10em;
}

a{
  font-size: 16px;
  color: black;
  font-family: 'Open Sans';
  font-weight: 720;
  text-decoration: none;
  text-align: center;
  margin-left: .7%;
  margin-right: 1em;
  margin-top: 2em;
  display: inline; 
}

.menu a{
  border-bottom: 4px solid black;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: black;
    display: inline;
    padding: 0 35px 12px 0;
}

.menu a:hover{
  color: #808080;
  border-bottom-color: #808080;
}

img.animated-gif{
  width: 60%;
}
