@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Righteous');
body{
  background-color: #bb8cff;
  color: black;
  font-family: 'roboto condensed';
  font-weight: 500;
  font-size: 20px;
  text-align: center;

}

.scrolldown img {

    width: 100px;
    margin-top: 40px;
}

img {
  width:300px;
}

@media screen and (min-width:450px){
  img{
    width:750px;
  }
}

}


main {
  color:#262626;
}
/* KIRAN PATEL */
header{
  margin-top: 100px;
  font-family: 'Staatliches';
  font-weight:bold;
  color: #282828;
  font-size: 65px;
  text-align: center;
  padding-bottom: 0px;


}



h1{
  font-family: 'roboto condensed';
  font-style: bold;
  font-size: 25px;
  padding-bottom: 20px;
}
a {
margin-top:200px;
font-size: 25px;
color: #282828;
}

h2{
  font-family: 'Staatliches';
  font-size: 135px;
  text-align: center;
}

h3{
  margin-top: 220px;
  font-family: 'Staatliches';
  font-size: 55px;


}
