@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');


img {
  width:300px;
  display: block;
    margin: 0 auto;
}

@media screen and (min-width:450px){
  img{
    width:750px;
  }
}




body{
  background-color: #fffaf1;
}
/* KIRAN PATEL */
header{

  font-family: 'Didact Gothic';
  color: black;
  letter-spacing: 4px;
  font-size: 100px;
  text-align: center;
  margin-top: 1em;
}

h1{
  font-family: 'Didact Gothic';
  font-style: bold;
  font-size: 45px;
  text-align: center;
  margin: 0px;
}

h2{
  font-family: 'Didact Gothic';
  font-style: bold;
  font-size: 55px;
  text-align: center;
  margin: 1.5em;
}

.menu {

font-size: 25px;
color: black;
font-family: 'Barlow Semi Condensed';
text-decoration: none;
text-align: center;
margin-top: 3em;
}

a{
  font-size: 25px;
  color: black;
  font-family: 'Barlow Semi Condensed';
  text-decoration: none;
  text-align: center;
  margin-left: 4em;
  margin-right: 4em;
}

A:hover{
  color: gray;
}
