@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Staatliches');

body{
  background-color: lavender;
  color: black;
  font-family: 'roboto condensed';
  font-weight: 500;
  font-size: 20px;
  text-align: center;

}




img {
  width: 400px;

}


main {
  color:#262626;
}
/* KIRAN PATEL */
header{
  margin-top: 200px;
  font-family: 'Staatliches';
  font-weight:bold;
  color: black;
  font-size: 65px;
  text-align: center;

}

h1{
  font-family: 'roboto condensed';
  font-style: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}


h2{
  font-family: 'Staatliches';
  font-style: bold;
  font-size: 125px;
  text-align: center;
}
